*{
    box-sizing: border-box;
}

.navbar-brand{
    margin-left: 150px;
}


.one{
    margin-left: 150px;
}

.slider img{
    width: 1080;
    height: 500px;

}
.carousel-caption{
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh;

} 
.content{
    font-size: 30px;
    margin-top: -140px;

} 


.header2{
    margin-top: 20px;
}

.allcards{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-around;
    align-items: center;
    flex: 100;
}
.brand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    
}

.brand img{
    width: 300px;
    height: 300px;
}
.brand h2{
    padding-top: 10px;
}
.magic-contain{
    display: flex;
    justify-content: center;
    align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(images/background.jpg); 
  background-size: cover;
  background-position: center;
opacity:0.3;
   }
   .box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 200px;
    width: 900px;
    height: 500px;
    background-color:lightseagreen;
    padding:70px 0 70px 0;
    border:3px solid #fff;
    box-sizing: border-box;
    border-radius: 10px;

   }
.box>h1{
    font-size: 60px;
}
.box>p{
    font-size: 20px;
    padding: 30px;
}
.box a {
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 15px 25px;
    border-radius: 50px;
    background-color: aqua;
    transition: 0.3s;
   }
   .box a:hover{
    background-color: #fff;
    color: black;}



.heading{
    color:rgb(192, 51, 75) ;
    font-size: 60px;
}

 .our-creation{
    display: flex;
    flex: 100;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
 }

 .our-creation .img{
    margin-top: 20px;
    border-radius: 10px;
 }
 .our-creation .img img{
    width: 280px;
    height: 210px;
    border-radius: 10px;
 }
 .carousel-caption {
    top: -150px;
    line-height: 40px;
    font-size: 30px;
    margin-top: 20px;
 }

 .carousel-caption>img{
    border-radius: 400px;
 }
 .carousel-caption>.icon3{
    color:rgb(192, 51, 75);
    font-size: 60px;
 }


 .uni{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    background-image: url(images/360.jpg);
 }

.g-0 img , .col-md-4{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px soild blue;
}
 .tables{
    display: flex;
    flex-wrap: wrap;
    flex: 100;
}
    
 .table{
    display: flex;
    flex-direction: column;
    flex: 50;
    margin-top: 40px;
    justify-content: center;
 }
 .question-box{
    flex: 20;
    height:300px ;
background-color: lightgray;
text-align: center;
align-items: center;
justify-content: center;
padding-top: 70px;
margin-top: 60px;
 }
 .question-box>h1{
    font-size: 20px;
 }
 .question-box>p{
    font-size: 20px;
    color: lightseagreen;
 }

 @media screen and (max-width:800px){
    .table{
        flex: 100;
    }
    .question-box{
        flex: 100;
    }

 }
 table{width: 50%; 
    padding: 10px 100px;
    
 }
tbody td{
    width: 50%;
    height: 70px; 
    
    
 }
 tr{
    padding: 20px 0px;
}
 
 th{
    width: 50%;
 }
 

 .container8{
    position: relative;
  width: 100%;
  height: 80vh;
  background-image:url(images/assorted.webp);
    position: relative;
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
}

.container8 h1{
    color:white;
    font-size: 80px;
    text-align: center;
}
.container9{display: flex;
justify-content: center;}
.container9 input {
    border-radius: 40px;
    width: 400px;
    height: 70px;
    font-size: 30px;
    text-align: center;
}


h2{
    color: black;
}
.container9 button{
    background-color: aqua;
    width: 200px;
    height: 70px;
    font-size: 20px;
    border-radius: 40px;
}
.container8 h2{
    justify-content: center;
    text-align: center;
    color:white;
}
.container10 a{
    justify-content: center;
    align-items: center; 
    display: flex;
gap: 100px;
color: white;
font-size: 30px;
}
.container11{
    background-color: black;
}
.container11 p{
    font-size: 20px;
    color: white;
    justify-content: left;
    text-align: left;
    padding-left: 20px;
    word-spacing: 30px;

}

.container12 p{
    justify-content: right;
    text-align: right;
    font-size: 20px;
    word-spacing: 0px;
    margin-top: -30px;

}
.container13 img{
    margin-left: auto;
    margin-right: auto;
        width: 100px;
    height: 100px;
}
.container13 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container13>p{
    text-align: center;
}

